@CHARSET "UTF-8";
body, input, button, select, textarea 
{
	font: 12px/1.5 Tahoma,'Microsoft Yahei','Simsun';
	font-family: Tahoma, 'Microsoft Yahei', Simsun;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.5;
	color: #444;
}
body
{
	padding:0px;
}
body, ul, li 
{
	padding-left: 0px;
}
a
{
	text-decoration:none;
}
a:visited
{
	color:blue;
}
a:active
{
	color:red;
}
.main
{
//	border:1px solid red;
	width:1200;
	height:auto;
	margin-left:75px;
	margin-right:74px;
}
.div1
{
	margin-top:12px;
	height:130px;
}
.user_info
{
	//border:1px solid red;
	width:223px;
	height:80px;
	float:right;
}
.user_info,.user_pic,.quit
{
	margin-top:20px;
}
.user_info1
{
	margin-top:40px;
	width:auto;
	height:12px;
	float:right;
}
.user_info2
{
	margin-top:12px;
	width:auto;
	float:right;
}
.pic_header
{
	width:100%;
	height:100%;
}

.user_info1,.user_info2
{
	margin-right:12px;
	font-size:13px;
}
.user_pic
{
	margin-left:3px;
	float:right;
	width:80px;
	height:80px;
	border:1px solid #B4B4B4;
}
.quit
{
	font-size:23px;
	font-weight:bold;
	font-family:'华文新魏';
	//border:1px solide red;
	width:40px;
	height:80px;
	margin-left:3px;
	margin-bottom:0px;
	float:right;
}
.div2
{
	margin-top:1px;
	height:34px;
	/*height:100px;*/
	//border:1px solid #B4B4B4;
}
.div3
{
	margin-top:1px;
	height:400px;
	border:1px solid red;
}
.div4
{
	height:auto;
	margin-bottom:23px;
	border:1px solid #B4B4B4;
}
.div1,.div2,.div3,.div4
{
	//border:1px solid red;
	width:94%;
	margin-left:3%;
	margin-right:3%;
}
.head_pic
{
	width:300px;
	height:120px;
	margin-top:4px;
	margin-bottom:4px;
	border:1px solid blue;
	float:left;
}
.head_user
{
	//border:1px solid red;
	width:430px;
	height:120px;
	margin-top:4px;
	margin-bottom:4px;
	float:right;
}
.trabecula
{
	border:1px solid green;
	width:1053px;
	height:100%;
	background:#BD0000;
	/*margin:1px 0px;*/
		
	float:left;
}
.trabecula li
{
	float:left;	
	line-height:8px;
	margin-left:23px;
	color:white;
}
.trabecula a
{
	color:white;
}
.post_message
{
	border:1px solid #BD0000;
	//color:black;
	float:right;
	width:71px;
	height:100%;
	line-height:34px;
	text-align:center;
	/*background:white;*/
}
.trabecula a:visited
{
	text-decoration:none;
	color:white;
}
.post_message a:visited
{
	text-decoration:none;
	color:black;
}
.post_message a:active
{
	text-decoration:none;
	color:red;
}
.post_message,.trabecula li
{
	font-size:18px;
	font-weight:bold;
}
/**********************************************************************************/
.div3
{
	height:auto;
	float:left;
}
.div3 .left
{
	margin-top:23px;
	margin-left:34px;
	width:250px;
	height:400px;
	border:1px solid green;
	float:left;
}
.div3 .left .text
{
	margin:40px;
	font-size:15px;
}
.search_btn
{
	margin-left:62px;
	margin-top:12px;
	width:56px;
	height:26px;
}
.right
{
	border:1px solid black;
	float:left;
	width:800px;
	height:400px;
	margin-top:23px;
	margin-left:23px;
}
.right .name
{
	margin-left:200px;
}
.right .password
{
	margin-left:216px;
}
.right .sex
{
	margin-left:217px;
}
.right .email
{
	margin-left:217px;
}
.right .submit
{
	//border:1px solid red;
	width:50%;
	height:40px;
	margin-top:23px;
	margin-left:240px;
}
.submit_btn
{
	width:130px;
	height:39px;
	font-size:15px;
	text-decoration:bold;
}
.right .name,.right .password,.right .config,.right .sex,.right .email,.grade,.useornot
{
	line-height:29px;
	widht:80%;
	height:30px;
	margin-top:12px;
	font-size:15px;
	//border:1px solid blue;
}
.right .name
{
	margin-top:50px;
}
.grade
{
	margin-left:217px;
}
.useornot
{
	margin-left:200px;
}